.workflow_section {
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px solid #cacaca;
    border-radius: 5px;
}

.workflow_section:hover {
    box-shadow: 0px 1px 5px #88888880 !important;
}

.workflow_section_inside {
    padding: 15px;
}

.workflow_menu {
    float: right;
    padding: 10px;
}

.workflow_menu_status {
    margin-right: 10px !important;
    margin-bottom: 2px;
    margin-top: 5px;
}

.workflow_menu_button {
    margin-right: 10px;
    margin-bottom: 10px;
    border-color: #1890ff;
}

.workflow_steps {
    margin-top: 25px !important;
    margin-bottom: 10px !important;
}

.ant-steps-label-vertical .ant-steps-item {
    margin-top: 10px !important;
}

.ant-steps {
    overflow: auto !important;
}

.ant-badge-status-processing {
    height: 10px;
    width: 10px;
}

.ant-badge-status-success {
    height: 10px;
    width: 10px;
}

.heirarchy-title {
    margin-top: 30px;
    font-size: 18px;
    color: #1890ff;
}

.ant-steps-item-error
> .ant-steps-item-container
> .ant-steps-item-content
> .ant-steps-item-title {
    color: rgba(0, 0, 0, 0.65);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}
