.dashlets-text {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.dashboard-box {
    background-color: rgb(255, 255, 255);
    height: 130px;
    padding: 10px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
}

.dashboard-box:hover {
    box-shadow: 0px 1px 5px #88888880 !important;
}
