.overlay {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.customStyles {
    /* border: 4px solid #f3f3f3; */
    border-radius: 50%;
    border-top: 4px dotted #da383a;
    border-right: 4px dotted #da383a;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    max-height: 180px;
    max-width: 180px;
}